In [7]:
import pandas as pd
df =pd.read_excel('score.xlsx',index_col='지원번호')
df['이름']

지원번호
1번    강나래
2번    강태원
3번    강호림
4번    김수찬
5번    김재욱
6번    박동현
7번    박혜정
8번    승근열
Name: 이름, dtype: object

### 데이터 선택 - rows

In [10]:
df
# df.loc['1번'] # index의 이름을 가지고 출력
df.iloc[1] # index 순서번호를 가지고 출력

이름       강태원
학교       구로고
키        184
국어        40
영어        35
수학        50
과학        55
사회        25
sw특기    Java
Name: 2번, dtype: object

In [15]:
# 2개  row 데이터 출력
df.loc[['1번','5번']]
# 1번 학생의 키값만 출력
df.loc['1번','키']
df.loc['1번',['이름','키']] # 1번 학생의 이름,키 출력
df.loc[['1번','5번'],['이름','키']] 

df[['이름','키']] #컬럼출력

       이름    키
지원번호
1번    강나래  197
2번    강태원  184
3번    강호림  168
4번    김수찬  187
5번    김재욱  188
6번    박동현  202
7번    박혜정  188
8번    승근열  190

In [17]:
df.loc[['1번','5번']]
# row 데이터 슬라이싱
df.loc['1번':'5번','국어':'사회']

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10