In [2]:
import pandas as pd

In [26]:
df = pd.read_csv('stu.csv')
df.set_index('지원번호',inplace=True)
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

### skiprows 상단부분 지정한 크기만큼 제거 후 읽어오기

In [24]:
df = pd.read_csv('stu.csv',skiprows=3)
df

   3번  강호림  구로고  168   80   75  70  80.1  75.1 javascript
0  4번  김수찬  구로고  187   40   60  70    75    80        NaN
1  5번  김재욱  구로고  188   15   20  10    35    10        NaN
2  6번  박동현  단지고  202   80  100  95    85    80          C
3  7번  박혜정  단지고  188   55   65  45    40    35     PYTHON
4  8번  승근열  단지고  190  100   85  90    95    95         c#

### nrows 지정한 개수만큼 가져오기

In [25]:
df = pd.read_csv('stu.csv',nrows=4,skiprows=1)

df.to_csv('stu2.csv',encoding = 'utf-8-sig')